{
  "RetreatBookmark": "home",
  "RetreatType": "astrahus",
  "AvoidShipType": "proteus|manticore|purifier",
  "ModuleActivePermanentSetTitlePattern": ["shield booster", "armor repairer", "vestment reconstructer", "tracking link"],
  "CloakyCampers": ["you-wang you-wang zen", "Alpha 000 661", "Alpha 000 067", "JTAC022", "JTAC023", "Alpha 000 055"],
  "Anoms": "forsaken hub",
  "WarpToWithinKM": "0",
  "TargetingRangeKM": 35,
  "ArmorRetreatPercent": 25,
  "HullRetreatPercent": 20,
  "RandomSeed": 1,
  "EnemySightedCooldownMinutes": 20
}
